<header class="nav-container">
    <nav>
        <a (click)="openMainPage()" class="nav-container__link_recipes">Recipes</a>
        <a (click)="openMainPage()" routerLink="main" routerLinkActive="active" class="nav-container__link">Главная</a>
        <a (click)="openRecipes()" routerLink="recipes" routerLinkActive="active" class="nav-container__link">Рецепты</a>
        <a (click)="openFavoritesPage()" routerLink="favorites" routerLinkActive="active" class="nav-container__link">Избранное</a>
    </nav>
    <app-dialog-element></app-dialog-element>
</header> 
