<header class="nav-container">
    <nav>
        <a href="#" routerLinkActive="active" routerLink="" class="nav-container__link_recipes">Recipes</a>
        <a href="#" routerLinkActive="active" routerLink="" class="nav-container__link">Главная</a>
        <a routerLinkActive="active" routerLink="/recipes" href="#" class="nav-container__link">Рецепты</a>
        <a routerLinkActive="active" routerLink="/favorites" class="nav-container__link">Избранное</a>
    </nav>
    <app-dialog-element></app-dialog-element>
</header> 
