.title
{
    margin-bottom: 40px;
}

.mat-dialog-content
{
    margin-left: 35px;
}

.signup-container
{
    max-width: 650px;
    position: relative;
    margin-bottom: 50px;
}

.form
{
    margin-left: 35px;
}

.search-container__input
{
    display: block;
    height: 50px;
    max-width: 580px;
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-bottom: 20px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    font: normal 16px/28px "Montserrat";
    color: rgba(37, 41, 45, 0.5);
}

.passwords .search-container__input:first-child
{
    margin-right: 24px;
}

.passwords
{
    display: flex;
    margin-bottom: 28px;
    max-width: 580px;
    position: relative;
}

.passwords::before
{
    content: "Минимум 8 символов";
    position: absolute;
    top: 55px;
    font: normal 12px/28px "Montserrat";
    color: rgba(37, 41, 45, 0.3);
}

.close-button
{
    width: 14px;
    height: 14px;
    padding: 0;
    position: absolute;
    right: 0;
    background-image: url("../../../assets/closebutton.svg");
    min-width: 10px;
}

.function-button
{
    width: 276px;
    height: 60px;
    text-decoration: none;
    background-color: transparent;
    border-color: #FDB100;
    font: 600 18px/28px "Montserrat";
    color: #FDB100;
    border-radius: 16px;
    border: 1px solid #FDB100;
    text-align: center;
    margin-right: 24px;
}

.function-button:hover,
.function-button:active,
.function-button:focus
{
    background-color: #FDB100;
    color: #fff;
}

.no-account
{
    font: 600 18px/28px "Montserrat";
    color: #FDB100;
    padding: 0;
    width: 242px;
    margin-left: 210px;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.form
{
    margin-bottom: 40px;
}