.container
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.extra-container
{
    display: flex; 
    margin: 0 auto; 
    width: 1200px; 
    margin-bottom: 100px;
}

.ingedient-box
{
    width: 380px; 
    margin-right: 30px;
}

.ingedient-box__wrapper
{
    position: relative;
}

.input-data_ingredient
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #4A525A;

}

.input-text
{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4A525A;
    margin-bottom: 20px;
    display: block;
}

.input-text
{
    width: 248px;
}

.step-box__wrapper
{
    width: 790px; 
    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    margin-bottom: 20px;
    padding: 50px 70px;
    position: relative;
}

.step-box__wrapper
{
    width: 790px; background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
}

.title-ingredient
{
    margin-bottom: 30px;
    margin-top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #fdb100;
}

.title-step
{
    border: 1px solid #fdb100;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background: transparent;
    color: #fdb100;
    transition: all ease-out 0.25s;
    width: 380px;
    height: 62px;
}

.title
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4A525A;
    margin-bottom: 21px;
}

.input-data_step
{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4A525A;
    width: 650px; 
    display: block;
}

.recipe-title
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #25292D;
    margin: 0;
}

.function-button
{
    margin-top: 20px;
    cursor: pointer;
    width: 278px;
    height: 60px;
    text-decoration: none;
    border-color: #FDB100;
    font: 600 18px/28px "Montserrat";
    color: #FDB100;
    border-radius: 16px;
    border: 1px solid #FDB100;
    text-align: center;
    background-color: #FDB100;
    color: #fff;
    position: relative;
    padding-left: 35px;
}

.function-button::before
{
    content: url("../../../assets/update.svg");
    position: absolute;
    width: 14px;
    height: 14px;
    left: 39px;
}

.back-button
{
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;
    position: relative;
}

.back-button::before
{
    content: url("../../../assets/arroy.svg");
    position: absolute;
    left: 0;
}

.container-title
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.delete-button
{
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(145, 150, 161, 0.7);
    border-radius: 16px;
    margin-right: 18px;
}

.step-title
{
    width: 286px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FDB100;
    opacity: 0.5;
    margin-top: 40px;
}