.ingedient-box__wrapper
{
    padding: 36px 30px;
    background: #FFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    margin-bottom: 62px;
    position: relative;
}

.input-data,
.input-text
{
    outline: none;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 24px;
    /* width: 100%; */
    display: block;
    border: 1px solid rgba(145, 150, 161, 0.4);
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #25292D80;
    resize: none;
    width: 320px; 
}

.input-text
{
    width: 320px; 
    padding-top: 11px;
    height: 229px; 
}

.close-button
{
    width: 14px;
    height: 14px;
    padding: 0;
    background-image: url("../../../assets/closebutton.svg");
    min-width: 10px;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: -40px;
}