<div class="recipe-container">
    <div class="recipes-list-container">
        <label class="recipe-image">
            <img src="{{urlRecipe}}" class="img">
            <input 
              type="file" 
              style="appearance: none;display: none;" 
              (change)="onSelectFile($event)">
        </label>
        <form class="recipe">
            <input 
              class="input-data"  
              type="text" 
              placeholder="Название рецепта"
              [(ngModel)]="name"
              (click)="onSubmit()" >
            <textarea 
              class="input-data description" 
              placeholder="Краткое описание рецепта (150 символов)"
              [(ngModel)]="description"
              (click)="onSubmit()" ></textarea>
            <input 
              class="input-data" 
              type="text" 
              placeholder="Добавить теги"
              [(ngModel)]="tags"
              (click)="onSubmit()" >
            <div class="info-container">
                <div class="info-container__wrapper">
                    <input 
                      class="input-data info" 
                      type="text"
                      placeholder="Время готовки"
                      [(ngModel)]="cookingTime"
                      (click)="onSubmit()" >
                    <div class="text">Минут</div>
                </div>
                <div class="info-container__wrapper">
                    <input 
                      class="input-data info" 
                      type="text"  
                      placeholder="Порций в блюде"
                      [(ngModel)]="persons"
                      (click)="onSubmit()" >
                    <div class="text">Персон</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container" style="display: flex; margin: 0 auto; width: 1200px; margin-bottom: 100px;">
    <div class="ingedient-box" style="width: 380px; margin-right: 30px;">
        <h3 class="title-ingredient">Ингридиенты</h3>
        <app-ingredient-input 
          *ngFor="let ingredient of Ingredients" 
          (voted)="onVoted($event)" 
          [Ingredients]="ingredient"></app-ingredient-input>
        <button class="title-step" (click)="addIngredient()" >Добавить заголовок</button>
    </div>
    <div class="step-box">
        <app-step-input 
          *ngFor="let step of Steps" 
          [Step]="step"
          (cancel)="onCancel($event)">
        </app-step-input>
        <button class="title-step" (click)="addStep()" style="margin-left: 200px;">Добавить шаг</button>
    </div>
</div>