<div class="recipe-container">
    <div class="recipes-list-container">
        <label class="recipe-image">
            <img src="{{urlRecipe}}" class="img">
            <input 
              type="file" 
              style="appearance: none; display: none;" 
              (change)="onSelectFile($event)">
        </label>
        <form class="recipe">
            <input 
              class="input-data"  
              type="text" 
              placeholder="Название рецепта"
              [(ngModel)]="newRecipe.name"
              (click)="onSubmit()" >
            <textarea 
              class="input-data description" 
              placeholder="Краткое описание рецепта (150 символов)"
              [(ngModel)]="newRecipe.description"
              (click)="onSubmit()"></textarea>
              <div class="chip-list input-data">
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let tag of tags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable"></mat-icon>
                  </mat-chip>
                  <input
                    class="input-data"
                    style="border: none; height: auto;"
                    placeholder="Добавить теги"
                    #tagInput
                    [formControl]="tagCtrl"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </div>
            <div class="info-container">
                <div class="info-container__wrapper">
                    <input 
                      class="input-data info" 
                      type="text"
                      placeholder="Время готовки"
                      [(ngModel)]="newRecipe.cookingTimeInMinutes"
                      (click)="onSubmit()" >
                    <div class="text">Минут</div>
                </div>
                <div class="info-container__wrapper">
                    <input 
                      class="input-data info" 
                      type="text"  
                      placeholder="Порций в блюде"
                      [(ngModel)]="newRecipe.persons"
                      (click)="onSubmit()" >
                    <div class="text">Персон</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="extra-container">
    <div class="ingedient-box">
        <h3 class="title-ingredient">Ингридиенты</h3>
        <div class="ingedient-box__wrapper" *ngFor="let ingredient of Ingredients">
          <button class="close-button_ingredient" (click)="cancelIngredient()" ></button>
          <input 
            class="input-data_ingredient" 
            type="text" 
            placeholder="Заголовок для ингридиентов"
            [(ngModel)]="ingredient.title"
            (click)="onSubmit()">
          <textarea 
            class="input-text" 
            type="text" 
            placeholder="Список продуктов для категории"
            [(ngModel)]="ingredient.description"
            (click)="onSubmit()"></textarea>
        </div>
        <button class="title-step" (click)="addIngredient()" >Добавить заголовок</button>
    </div>
    <div class="step-box">
      <div class="step-box__wrapper" *ngFor="let step of Steps">
          <button class="close-button" (click)="cancelStep()" ></button>
          <div class="title">Шаг {{step.num}}</div>
          <textarea 
            class="input-data_step" 
            placeholder="Описание шага"
            [(ngModel)]="step.description"
            (click)="onSubmit()"></textarea>
      </div>
        <button class="title-step" (click)="addStep()" style="margin-left: 200px;">Добавить шаг</button>
    </div>
</div>