<div class="title-container">
    <h1 class="page-title">Рецепты</h1>
    <button mat-button (click)="buttonClick()" routerLinkActive="active" routerLink="/new_recipe" class="function-button">Добавить рецепт</button>
    <!-- <label class="field-container" [ngClass]="focused ? 'active' : ''">
        <span
          class="field-label"
          [ngClass]="text !== '' && !focused ? 'hidden' : ''"
          >{{ label }}</span
        >
        <input
          class="field-input"
          type="text"
          (focus)="onFocus()"
          (blur)="onBlur()"
          (change)="onChange($event)"
          [value]="text"
        />
      </label> -->
</div>