.title-container
{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title
{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 62px;
    color: #25292D;
}

.favorite-content
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;  
    color: #FDB100;
    opacity: 0.5;
    height: 1035px; 
    padding-top: 117px;
}