.step-box__wrapper
{
    width: 790px; 
    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    margin-bottom: 62px;
    padding: 50px 70px;
    position: relative;
}

.cancel-button
{
    position: absolute;
}
.close-button
{
    width: 14px;
    height: 14px;
    padding: 0;
    position: absolute;
    background-image: url("../../../assets/closebutton.svg");
    min-width: 10px;
    border: none;
    background-color: #fff;
    right: 75px;
    top: 55px;
}

.title
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4A525A;
    margin-bottom: 21px;
}

.input-data
{

    width: 650px; 
    height: 166px; 
    padding-top: 11px;
    outline: none;
    margin-bottom: 20px;
    padding-left: 24px;
    display: block;
    border: 1px solid rgba(145, 150, 161, 0.4);
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #25292D80;
    resize: none;
}