.home-container
{
    margin: 0 auto;
    width: 1440px;
    /* height: 2719px; */
    position: relative;
}

.nav-container
{
    margin: 0 auto;
    padding: 48px 0;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container__link
{
    margin: auto 20px auto 5px;
    width: 100px;
    display: inline-block;
    font: 400 18px/22px "Montserrat";
    text-decoration: none;
    color: #9196a1;
    transition: .15s all;
}

.nav-container__link_recipes
{
    text-decoration: none;
    font: bold 24px/29px "Montserrat";
    color: #fdb100;
    margin: 0;
    margin-right: 40px;
}

.nav-container__login
{
    font: 600 18px/22px "Montserrat";
    color: #FDB100;
    position: relative;
    cursor: pointer;
}

.nav-container__login::before
{
    content: url(../../../assets/Login.svg);
    position: absolute;
    top: -8px;
    left: -60px;
    width: 38px;
    height: 38px;
}

.nav-container__link:hover
{
    font-weight: 600;
    color: #3a3c41;
    transition: .15s all;
}

.main-container
{
    margin: 0 auto;
    width: 1200px;
    margin-top: 140px;
}

.main-container__title
{
    font: bold 72px/88px "Montserrat";
    color: #25292D;
    width: 688px;
    margin-bottom: 20px;
}

.main-container__description
{
    font: 400 18px/28px "Montserrat";
    width: 566px;
}

.main-container__functions
{
    margin: 50px auto 300px auto;
}
.function-button
{
    width: 276px;
    height: 60px;
    text-decoration: none;
    background-color: transparent;
    border-color: #FDB100;
    font: 600 18px/28px "Montserrat";
    color: #FDB100;
    border-radius: 16px;
    border: 1px solid #FDB100;
    text-align: center;
    margin-right: 24px;
    position: relative;
}
.function-button:last-child
{
    width: 216px;
}
.function-button:hover,
.function-button:focus,
.function-button:active
{
    background-color: #FDB100;
    color: #fff;
    outline: none;
}
.function-button_add-recipe
{
    background-color: #FDB100;
    color: #fff;
    padding-left: 38px;
}
.function-button_add-recipe::before
{
    content: url("../../../assets/plus.svg");
    position: absolute;
    width: 14px;
    height: 14px;
    left: 39px;
}
.photo
{
    position: absolute;
    width: 602px;
    height: 800px;
    right: 0;
    top: -265px;
    z-index: -900;
}
.nav-section
{
    margin-bottom: 158px;
}
.nav-section__title
{
    font: bold 42px/62px "Montserrat";
    color: #25292d;
    margin-bottom: 16px;
}
.nav-section__description
{
    width: 700px;
    font: normal 18px/32px "Montserrat";
    color: #4a525a;
    margin: 0;
    margin-bottom: 42px;
}
.nav-section__tags
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.tags
{
    width: 278px;
    text-decoration: none;
    background: #ffffff;
    color: #25292D;
    box-shadow: 0px 16px 72px rgb(34 39 47 / 5%);
    border-radius: 24px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    margin-right: 30px;
    padding: 24px;
}
.tags:last-child
{
    margin-right: 0;
}
.tags__title
{
    color: #25292D;
    margin: 24px 0 12px 0;
}
.tags__text
{
    font: normal 18px/30px "Montserrat";
    color: #4a525a;
}
.random-recipe
{
    display: flex;
    justify-content: left;
    margin-bottom: 150px;
}

.random-recipe__article
{
    margin: 100px 0 0 73px;
    text-decoration: none;
    width: 513px;
    position: relative;
}

.random-recipe__img
{
    border-radius: 30px;
    position: relative;
}

.random-recipe__img::before
{
    content: url(../../../assets/String.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 101px;
    height: 36px;
}

.random-recipe__title
{
    font: 700 42px/60px "Montserrat";
    color: #25292D;
}

.random-recipe__article::before
{
    content: url(../../../assets/Recipe.svg);
    position: absolute;
    width: 80px;
    height: 81px;
    top: -60px;
}

.random-recipe__article::after
{
    content: url(../../../assets/String.svg);
    position: absolute;
    width: 101px;
    top: -74px;
    left: -10px;
}

.random-recipe__text
{
    font: 400 18px/32px "Montserrat";
    color: #4A525A;
}

.search-container
{
    text-align: center;
    margin-bottom: 130px;
}

.search-container__title
{
    font: 700 42px/51px "Montserrat";
    color: #25292D;
}

.search-container__addiction
{
    font: 400 18px/32px "Montserrat";
    color: #4A525A;
}

.search-container__search
{
    display: flex; 
    justify-content: center; 
    margin: 64px 0 40px 0;
}

.search-container__input
{
    height: 73px;
    width: 716px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    font: 400 18px/22px "Montserrat";
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-right: 16px;
}

.search-container__submit
{
    width: 152px;
    height: 73px;
    border-radius: 16px;
    background: #FDB100;
    color: #fff;
    border-style: none;
    outline: none;
    font: 600 18px/22px "Montserrat";
}

.search-container__nav
{
    display: flex; 
    justify-content: left; 
    width: 884px; 
    margin: 0 auto;
}

.footer
{
    background: #FBF9F4;
    height: 113px;
}

.footer__wrapper
{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.footer__items
{
    margin-top: 37px;
    margin-left: 120px;
    font: 700 32px/39px "Montserrat";
}

.footer__items:last-child
{
    margin: 45px 119px 0 0;
    font: 500 20px/24px "Montserrat";
}