.page-wrapper
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 80px;
}

.page-wrapper__title
{
    margin-top: -50px;
    color: #25292D;
    font: bold 24px/30px "Montserrat";
}

.search-container__search
{
    display: flex; 
    justify-content: center; 
    margin-bottom: 40px;
}

.search-container__input
{
    height: 73px;
    width: 716px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    font: 400 18px/22px "Montserrat";
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-right: 16px;
}

.search-container__submit
{
    cursor: pointer;
    width: 152px;
    height: 73px;
    border-radius: 16px;
    background: #FDB100;
    color: #fff;
    border-style: none;
    outline: none;
    font: 600 18px/22px "Montserrat";
}

.search-container__nav
{
    display: flex; 
    justify-content: left; 
    width: 884px; 
    margin: 0 auto;
}

.nav-container__link
{

    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
    width: 100px;
    display: inline-block;
    font: 400 18px/22px "Montserrat";
    text-decoration: none;
    color: #9196a1;
    transition: .15s all;
}

.nav-container__link:hover
{
    font-weight: 600;
    color: #3a3c41;
    transition: .15s all;
}