.page-wrapper
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 80px;
}

.page-wrapper__title
{
    margin-top: -50px;
    color: #25292D;
    font: bold 24px/30px "Montserrat";
}

.search-container__search
{
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px;
}

.search-container__input
{
    height: 73px;
    width: 716px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    font: 400 18px/22px "Montserrat";
    border-style: none;
    outline: none;
    padding-left: 32px;
    margin-right: 16px;
}

.search-container__submit
{
    cursor: pointer;
    width: 152px;
    height: 73px;
    border-radius: 16px;
    background: #FDB100;
    color: #fff;
    border-style: none;
    outline: none;
    font: 600 18px/22px "Montserrat";
}

.search-container__nav
{
    display: flex; 
    justify-content: left; 
    width: 884px; 
    margin: 0 auto;
}

.nav-container__link
{
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
    display: inline-block;
    font: 400 18px/22px "Montserrat";
    text-decoration: none;
    color: #9196a1;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.nav-section
{
    margin: 0 auto;
    width: 1200px;
}

.nav-section__tags
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.tags
{
    width: 278px;
    text-decoration: none;
    background: #ffffff;
    color: #25292D;
    box-shadow: 0px 16px 72px rgb(34 39 47 / 5%);
    border-radius: 24px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    margin-right: 30px;
    padding: 24px;
}

.tags:last-child
{
    margin-right: 0;
}

.tags__title
{
    color: #25292D;
    margin: 24px 0 12px 0;
}

.tags__text
{
    font: normal 18px/30px "Montserrat";
    color: #4a525a;
}