<div class="home-container">
    <app-header></app-header>
    <div class="main-container"> 
        <h1 class="main-container__title">Готовь и делись рецептами</h1>
        <div class="main-container__description">Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</div>
        <div class="main-container__functions">
            <img class="photo" src="../../assets/foodpicture.png" alt="Фото Еды">
            <button class="function-button button" routerLinkActive="active" routerLink="/new_recipe" mat-button>Добавить рецепт</button>
            <button class="function-button" mat-button (click)="openDialog()">Войти</button>
        </div>
        <div class="nav-section">
            <h2 class="nav-section__title">Умная сорировка по тегам</h2>
            <p class="nav-section__description">Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</p>
            <div class="nav-section__tags">
                <ul style="list-style-type: none; display: flex; padding: 0;">
                    <li class="tags" *ngFor="let categoty of Categories">
                        <a class="tags__wrapper" href="#">
                            <img src="../../assets/{{categoty.photo}}" alt="#">
                            <h3 class="tags__title">{{categoty.name}}</h3>
                            <p class="tags__text">{{categoty.text}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="random-recipe">
            <img src="../../assets/soup.png" alt="Тыквенный супчик">
            <a class="random-recipe__article" href="#">
                <h2 class="random-recipe__title">Тыквенный Супчик На Кокосовом молоке</h2>
                <p class="random-recipe__text">Если у вас осталась тыква, и вы не знаете что с ней сделать, 
                    то это решение для вас! Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! </p>
            </a>
        </div>
        <div class="search-container">
            <h2 class="search-container__title">Поиск рецептов</h2>
            <p class="search-container__addiction">Введите примерное название блюда, а мы по тегам найдем его</p>
            <div class="search-container__search">
                <input type="text" class="search-container__input" placeholder="Название Блюда....">
                <input type="submit" class="search-container__submit" value="Поиск">
            </div>
            <div class="search-container__nav">
                <ul style="list-style-type: none; display: flex; padding: 0;">
                    <li *ngFor="let tag of Tags">
                        <a class="nav-container__link" href="#"> {{tag.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>