/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
    margin: 0;
    background-color: #fefefb;
    font-family: "Montserrat", sans-serif;
}

*, 
*::after,
*::before
{
    box-sizing: border-box;
}

.mat-button-focus-overlay { 
    background-color: transparent!important; 
}

.mat-dialog-container
{
    padding: 27px 25px!important;
    border-radius: 24px!important;
}

.mat-dialog-content
{
    padding: 0!important;
}

.cdk-overlay-pane
{
    max-width: none!important;
}