<div class="recipes-list-container">
    <img class="img" src="{{Recipe.photo}}" alt="Клубника">
    <div class="recipe">
        <div class="recipe__function">
            <div class="recipe__tags">
                <a *ngFor="let tag of Recipe.tags" class="recipe__tag" href="#">{{tag.title}}</a>
            </div>
            <div class="recipe__relation">
                <button mat-button class="recipe__button save">
                    <img src="../../../assets/fav.svg" style="margin-top: -3px; margin-right: 10px;" alt="fav">
                    {{Recipe.saved}}</button>
                <button mat-button class="recipe__button like">
                    <img src="../../../assets/like.svg" style="margin-right: 10px;" alt="like">
                    {{Recipe.likes}}</button>
            </div>
        </div>
        <a (click)="goToRecipeId(Recipe.id)" style="text-decoration: none; cursor: pointer;">
            <div class="recipe__title">{{Recipe.name}}</div>
            <div class="recipe__description">{{Recipe.description}}</div>
        </a>
        <div class="recipe__info">
            <div class="recipe-info__wrapper">
                <img src="../../../assets/clock.svg" class="img" alt="часы">
                <div>
                    <div class="info">Время приготовления</div>
                    <div class="info-description">{{Recipe.cookingTimeInMinutes}} минут</div>
                </div>
            </div>
            <div class="recipe-info__wrapper">
                <img src="../../../assets/person.svg" class="img" style="width: 59px;" alt="человек">
                <div>
                    <div class="info">Рецепт на</div>
                    <div class="info-description">{{Recipe.persons}} персон</div>
                </div>
            </div>
        </div>
    </div>
</div>
