.container
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 123px;
}

.recipes-list-container
{
    background: #fff;
    height: 430px;
    margin-bottom: 40px;
    transition: all ease-in-out 300ms;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    display: flex;
    border-radius: 72px 24px 24px 0;
}

.recipe
{
    margin-left: 53px;
    margin-top: 51px;
    width: 100%;
}

.recipe__function
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.recipe__tags
{
    display: flex;
    align-items: center;
}

.recipe__tag
{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #F29E1F; 
    background: #FFEFCC;
    margin-right: 5px;
    background: rgb(253, 177, 0, 0.2);
    padding: 0 10px;
    border-radius: 8px;
}

.recipe__relation
{
    display: flex;
    margin-right: 30px;
}

.recipe__button
{
    margin-left: 15px;
    background: none;
    width: 107px;
    height: 50px;
    border: 1px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FDB100;
    display: block;
}

.recipe__title
{
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #25292D;
}

.recipe__description
{
    width: 571px;
    margin-bottom: 43px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4A525A;
}

.recipe__info
{
    width: 100%;
}

.recipe__info,
.recipe-info__wrapper
{
    display: flex;
}

.info
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #25292D;    
    opacity: 0.5;
}

.info-description
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #25292D;
}

.img
{
    margin-right: 20px;
}

.recipe-info__wrapper
{
    margin-right: 71px;
}